@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$break-middle: 768px;
$break-long: 996px;
$break-xs: 350px;
html {
    scroll-behavior: smooth;
  }

  body{
    background-color:#343a40;

    .not-render-message-container{
      background: white;
      border:1px solid black;
      width:80vw;
      margin-left:10vw;
      margin-top:10vh;
      height: 80vh;
      padding:10px;
      text-align: center;
      min-width:300px;
      min-height:300px;
      font-family: 'Big Shoulders Text', cursive;

    }
  }
ul{
    list-style: none;
    padding:0;
}
a{
    color:white;
    &:hover{
        text-decoration: none;
        color:white;
    }
    }
    
  
