.bce-component {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 15px;
    background-color: #e4e4e4;
    margin-bottom: 20px;
    min-width: 240px;
    border-top: 6px solid #f86868;
    width: 100%;
}
.bce-inner {
    margin-left: -100%;
    display: flex;
}
.bce-item {
    width: 33.3333%;
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
}
.bce-item-img {
    width: 100%;
    flex: none;
}
.bce-copy {
    width: 100%;
    justify-content: center;
    color: #ffffff;
    padding: 10px;
    
    h6{
        color:white;
        font-family: 'Play', sans-serif;
        text-align: center;
    }
}
.bce-controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    background-color: #e4e4e4;
    top: 0;
}
.bce-controls.next {
    right: 0;
}
.bce-controls.prev {
    left: 0;
}
.bce-controls-btn {
    border-radius: 50%;
    background-color: #e4e4e4;
    cursor: pointer;
    transition: background-color 0.3s;
}
.bce-controls-btn:hover {
    background-color: #343a40;
}
.bce-controls svg {
    height: 30px;
    width: 30px;
}
.bce-controls path {
    fill: #343a40;
    transition: fill 0.3s;
}
.bce-controls-btn:hover path{
    fill: #ffffff;
}

.bce-title {
    font-size: 12px;
    padding-left: 6px;
}




