.services-container{
    min-height: 600px;
    background: #f9f9f9;
    padding-top: 30px;
    position:relative;

  
    h2{
      margin-bottom:60px;
      font-family: 'Big Shoulders Text', cursive;
      color: #565656
    }
  .services-list{
    display:flex;
    flex-flow: row wrap;
  
    li{
      width:20%;
      margin-right:6.66%;
      padding-top:15px;
      position: relative;
      border-top:6px solid #f86868;


      .image-plus-info{
        position:relative;
      }

      img{
        -webkit-transition: opacity 1s;
        transition: opacity 1s;
      }

    

      .overlay{
        @media screen and (min-width:$break-middle) {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
        font-family: 'Big Shoulders Text', cursive;
        pointer-events: none;
        }
      }

      &:hover{
        @media screen and (min-width:$break-middle) {
          .overlay{
            opacity: 1;
            cursor:pointer;
            pointer-events: none;
          }
        
         }
      
      }
    

      img:hover{
        cursor:pointer;
      }
      
     
     
    

    
      @media screen and (max-width:$break-long) {
        width:40%;
        margin-right: 0;
      
       }
       @media screen and (max-width:$break-middle) {
        width:100%;
       margin-right:0;
       }


      &:not([class^="second-item"]){

        @media screen and (max-width:$break-long) {
        
          margin-right:20%;
         }
         @media screen and (max-width:$break-middle) {
        
          margin-right:0;
         }
      }

  

      h3{
        font-family: 'Play', sans-serif;
        font-size: 20px;
        line-height: 20px;
        color: #565656;
        
      
  
      }
  
      &.last-item{
        margin-right: 0;
      }
    }
  }
}
