.selected-service{
    position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    display:none;
    align-items:center;
    justify-content: center;
    background-color: rgba(0, 60, 255, 0.226);
    flex-direction:column;
    &.display-selected-container{
      display:flex;
    }
    &.hide-selected-container{
      display:none;
    }

    .selected-service-container{
      justify-content: space-around;
      padding: 10px;
      border-radius: 5px;
      position:relative;
      max-width: 600px;
      justify-content: center;
      max-height: 300px;


      .inner-container{
        display:flex;
      }

      .img-container{
        width: 50%;
      }
      @media screen and (max-width:$break-middle) {

        &.fixed{
            position:fixed;
            top:50%;
        }
        &.top{
            position:absolute;
           top:0;
        }
        &.bottom{
            position:absolute;
            bottom:0;
        }
    }
      i{
        position: absolute;
        top: 5px;
        right: 5px;
        color: white;
        cursor: pointer;
        z-index: 2;
      }
      h3{
        color:white;
        font-family: 'Big Shoulders Text', cursive;
        text-align: center;
        width:100%;
      }
    }

    .selected-text-container{
      width:50%;
      color:white;
      font-family: 'Big Shoulders Text', cursive;
      padding-left:20px;
    }

  }
