


@import "./_generalStyles";
@import "./_navigation";
@import "./_slider";
@import "./_nosotros";
@import "./_services";
@import "./_serviceInfo";
@import "./_contacto";
@import "./_reasons";
@import "./_footer";
@import "./_resume-contact";
@import "./_impact";
@import "./_spinner";


#services, #aboutUs, #contact{
    display: block;
    content: " ";
    margin-top: -146px;
    height: 146px;
    visibility: hidden;
}