<div class="accesories" id="Accesories">
<ul class="accesories-list animated zoomIn" >
    <li class="accesorie-item">
        <img class="accesorie-img" src="./static/repuesto1.jpg" width="100%" alt="">
        <h3 class="accesorie-title">Pistones</h3>
        <p class="accesorie-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum minus corporis
            illum.</p>
    </li>
    <li class="accesorie-item">
        <img class="accesorie-img" src="./static/repuesto2.jpg" width="100%" alt="">
        <h3 class="accesorie-title">Pistones</h3>
        <p class="accesorie-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse sit repudiandae
            obcaecati.</p>
    </li>
    <li class="accesorie-item">
        <img class="accesorie-img" src="./static/repuesto3.jpg" width="100%" alt="">
        <h3 class="accesorie-title">Pistones</h3>
        <p class="accesorie-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nam quaerat
            exercitationem?</p>
    </li>
    <li class="accesorie-item">
        <img class="accesorie-img" src="./static/valve.jpg" width="100%" alt="">
        <h3 class="accesorie-title">Pistones </h3>
        <p class="accesorie-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt vero recusandae
            sapiente!</p>
    </li>
    <li class="accesorie-item">
        <img class="accesorie-img" src='./static/repuestos.jpg' width="100%" alt="">
        <h3 class="accesorie-title"> Pistones</h3>
        <p class="accesorie-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error molestias laborum
            perspiciatis.</p>
    </li>
</ul>
<div class="carrousel-accesories">
    {{> productsCarrousel}}
</div>
</div>
