<div class="brand-container container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 brand-info-container">
            
            <h4 class="title-brand">PARKER</h4>
            <h1 class="subtitle-brand" id="brandSubtitle"> Contamos con el apoyo de Parker en Argentina</h1>
            <p class="brand-info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio beatae cumque recusandae repellendus!
            </p>
        </div>
        <div class="col-md-6 col-sm-12 brand-image-container">
            <img class="brand-image" src="./static/parker-logo.png" width="80%" height="auto">

        </div>
    </div>
</div>