<div class="footer container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12 footer-section">
            <img src="./static/logo.png" height="150px" width="150px" alt="">
            <p>Instalandos y brindando servicios industriales desde</p>
            <p> hace 10 años.</p>
        </div>
        <div class="col-md-4 col-sm-12 footer-section">
            <h3>Links</h3>
            <ul class="link-list">
                <li><a href="#inicio" id="footerInicioLink">- Inicio</a></li>
                <li><a href="#contact" id="footerContactLink">- Contacto</a></li>
                <li><a href="#services" id="footerServiciosLink">- Servicios</a></li>
                <li><a href="#aboutUs" id="footerNosotrosLink">- Nosotros</a></li>
            </ul>
        
            <h5 id="footerNetworksTitle">Seguinos!</h5>
           <div class="addthis_inline_follow_toolbox"></div>
        </div>
        <div class="col-md-4 col-sm-12 footer-section">
            <ul class="contact-list">
                <li>
                   <i class="fa fa-map-marker icon-title" aria-hidden="true"></i>
                    <h2 id="footerDireccion">  Dirección:</h2>
                    <span class="contact-text">99 S.t Jomblo Park Pekanbaru 28292.</span>
                    <span class="contact-text">Indonesia</span>
                </li>
                <li>
                    <i class="fa fa-phone icon-title" aria-hidden="true"></i>
                    <h2 id="footerTelefono"> Teléfono:</h2>
                    <span class="contact-text">+62 7100 1234</span>
                    <span class="contact-text">+62 7100 1235.</span>
                </li>
                <li>
                   <i class="fa fa-envelope icon-title" aria-hidden="true"></i>
                    <h2 id="footerMail">   Correo:</h2>
                    <span class="contact-text">message@creativx.com</span>
                    <span class="contact-text">support@creativx.com</span>

                </li>

            </ul>

        </div>
        <div class="col-12">
            <hr class="footer-line">
            <span class="footer-copyright">	&#9400; 2019 All Rights Reserved</span>
        </div>

    </div>
</div>