<div class="impact-container">
<img src="./static/electroneumatica.png" height="450px" width="100%">
<div class="container-fluid transparent-efect-container">
    <div class="row text-img-container">
        <div class="col-12 ">
               <h2 id="impactTitle">Servimos para conectar</h2>
               <h4 id="impactSubtitle">las necesidades de tu industria</h4>
                <p id="impactParragraph">
Nuestra empresa ha completado con éxito una amplia gama de proyectos . Estamos calificados para asumir incluso los proyectos más grandes en la industria, para aplicaciones de mejoras.</p>
        </div>
    </div>
 
</div>
</div>
