   <a id="aboutUs"></a>
   <section id="nosotros">
    
      <div class="container mt-5 mb-5">
         <h2 class="title-section" id="nosotrosTitle">Sobre nosotros:</h2>
        <div class="row nosotros-row">
          <div class="col-md-6 col-sm-12">
            <div class="header-content-left text-center">
              <img src="./static/logo.png" width="250px" height="250px">
            </div>  
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="header-content-right">
              <h1 class="display-4" id="nosotrosSubTitle">¿Qué es INSI?</h1>
              <p class="mt-5 " id="nosotrosParagraph">Insi es una empresa dedicada a brindar los mejores servicios e instalaciones industriales del mercado, que cuenta
                                    con una experiencia de 10 años brindando soporte e instalaciones industriales a instituciones que van desde  hospitales , centros 
                                    de salud, unidades sanitarias hasta madereras y sectores dedicados a la industria conocida como "Industria pesada"</p>
             
            </div>
          </div>
        </div>
      </div>
    </section>
