<div id="carrouselContainer" class="carrousel-containter ">
<div class="bce-component animated zoomIn faster">
     <i  class="fas fa-times"></i>
    <h1 class="title-accesories-carrousel">Accesorios</h1>
					<div class="bce-controls prev">
						<div class="bce-controls-btn">
							<svg viewBox="0 0 24 24">
								<path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
							</svg>
						</div>
					</div>
					<div class="bce-inner">
						<div class="bce-item">	
							<img class="bce-item-img" src="./static/repuesto1.jpg" alt="bce-photo-example">
							<div class="bce-copy">
							<h4>Nombre repuesto</h4>
							</div>
						</div>
						<div class="bce-item">	
							<img class="bce-item-img" src="./static/repuesto2.jpg" alt="bce-photo-example">
							<div class="bce-copy">
								<h4>Nombre repuesto</h4>
							</div>
						</div>
						<div class="bce-item">	
							<img class="bce-item-img" src="./static/repuesto3.jpg" alt="bce-photo-example">
							<div class="bce-copy">
								<h4>Nombre repuesto</h4>
							</div>
						</div>
						<div class="bce-item">	
							<img class="bce-item-img" src="./static/valve.jpg" alt="bce-photo-example">
							<div class="bce-copy">
							<h4>Nombre repuesto</h4>
							</div>
						</div>
					</div>
					<div class="bce-controls next">
						<div class="bce-controls-btn">
							<svg viewBox="0 0 24 24">
								<path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
							</svg>
						</div>
					</div>
</div>
</div>