<div class="container-fluid reasons-container">
    <div class="row">
        <div class="col-12 title-container">
        <h5 class="title-reasons" id="reasonsTitle">¿Por que elegirnos?</h5>
        <h2 class="subtitle-reasons" id="reasonsSubtitle">Razones para trabajar con nosotros:</h2>
        </div>
     
        <div class="col-md-4 col-sm-12 skill-section">
           <span class="icon-item"><i class="fas fa-tools"></i></span>
           <h2 class="title-item" id="reasonsSectionOneTitle">Calidad en cada paso</h2>
           <p id="reasonsSectionOneParagraph">Nuestra filosofía de calidad es simple; Satisfacer las expectativas de nuestros clientes a través de la mejora continua de la calidad y desarrollar nuestro trabajo correctamente desde el inicio.</p>
        </div>
         <div class="col-md-4 col-sm-12 skill-section">
           <span class="icon-item"><i class="fas fa-cogs"></i></span>
           <h2 class="title-item" id="reasonsSectionSecondTitle">Estándares de ética</h2>
           <p id="reasonsSectionSecondParagraph">Para nosotros, el comportamiento ético es más que palabras en papel. Es un compromiso total que involucra a todos los empleados, cruza todas las líneas de negocios e impacta todo lo que hacemos.</p>
         </div>
          <div class="col-md-4 col-sm-12 skill-section">
            <span class="icon-item"><i class="fab fa-algolia"></i></span>
           <h2 class="title-item" id="reasonsSectionThirdTitle">Experiencia</h2>
           <p id="reasonsSectionThirdParagraph">Tenemos una amplia experiencia en el mercado y estamos más que calificados para satisfacer las necesidades de su industria.</p>
          </div>
    </div>
</div>