   <div class="resume-contact-container">
            <div class="tel"> <i class="fa fa-phone icon-title" aria-hidden="true"></i><span>555-5555</span></div>
            <a href="mailto:insis@insi.com" class="mail"> <i class="fa fa-envelope icon-title" aria-hidden="true"></i><span>insiCompany@insi.com.ar</span></a>
         <select id="languageSelect" class="language-select"  >
            <option value="en">English</option>
            <option value="es" selected="selected">Español</option>
        </select>
      
    </div>