<a id="services"></a>
<div class="container-fluid services-container">
  <div class="row">
    <div class="col-12 col-lg-3 services-list-container">
      <h1>Otros servicios</h1>
      <ul id="serviceList">
        <li id="firstServiceItem"> <span class="service-item" data-parentId="firstServiceItem"
            data-fieldText="installations" id="serviciosFirstTitle"> Instalaciones industriales</span></li>
        <li id="secondServiceItem"><span class="service-item" data-parentId="secondServiceItem" data-fieldText="panels"
            id="serviciosSecondTitle">Paneles solares</span></li>
        <li id="thirdServiceItem"><span class="service-item" data-parentId="thirdServiceItem" data-fieldText="electro"
            id="serviciosThirdTitle">Electroneumatica e hidraulica</span></li>
        <li id="fourthServiceItem"><span class="service-item" data-parentId="fourthServiceItem"
            data-fieldText="accesories" id="serviciosFourthTitle">Accesorios</span></li>
      </ul>
    </div>
    <div class="col-12 col-lg-9 service-details-container">
      <h1 id="serviceDetailTitle" class="service-details-title">Titulo del servicio actual</h1>
      <p id="serviceDetailInfo" class="service-details-info">Nam liber tempor cum soluta nobis eleifend option congue
        nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus
        legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii
        legunt saepius.</p>
      <div id="serviceContainer" class="service-container">
        {{!-- ACA VA EL CONTENIDO PRINCIPAL DEL SERVICIO SELECCIONADO --}}
      </div>
      {{> accesoriesDesktopView}}
    </div>
  </div>
</div>