<div class="selected-service" id="selectedServiceContainer">
    <div id="selectedContainer" class="selected-service-container container bg-dark animated zoomIn faster">
        <div class="row">
            <i id="closeIcon" class="fas fa-times"></i>
            <h3 id="selectedServiceTitle"> Selected Service</h3>
            <div class="col-6">
                <img src="./static/repuestos.jpg" alt="" (onclick)="" width="100%" height="auto" id="selectedServiceImage">
            </div>
            <div class="selected-text-container col-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio modi incidunt quod sapiente, eum
                    magni.</p>
            </div>
        </div>
    </div>
</div>