<div id="c-slider">
        <div id="slider" class="slider">
                <section class="slider__section">
                        <div class="infoSection">
                                <h1 id="sliderInstGases" class="tituloSection">INSTALACION DE GASES INDUSTRIALES Y
                                        MEDICINALES</h1>
                        </div>
                        <img src="./static/gases-medicinales.jpg" class="slider__img" height="510px">
                        <h3 id="sliderMobileGases" class="section-mobile-text">Gases medicinales</h3>
                </section>
                <section class="slider__section">
                        <div class="infoSection">
                                <h1 class="tituloSection" id="sliderElectro">ELECTRONEUMÁTICA, NEUMÁTICA E HIDRÁULICA
                                </h1>
                        </div>
                        <img src="./static/electroneumatica.jpg" class="slider__img" height="510px">
                        <h3 id="sliderMobileElectro" class="section-mobile-text">Electroneumática e Hidráulica</h3>
                </section>
                <section class="slider__section">
                        <div class="infoSection">
                                <h1 class="tituloSection" id="sliderProcesos">CONTROL DE PROCESOS</h1>
                        </div>
                        <img src="./static/control-procesos.jpg" class="slider__img" height="510px">
                         <h3 id="sliderMobileProcesos" class="section-mobile-text">Control de procesos</h3>
                </section>
                 <section class="slider__section">
                        <div class="infoSection">
                                <h1 class="tituloSection aire" id="sliderAireComprimido">INSTALACION DE AIRE COMPRIMIDO
                                </h1>
                        </div>
                        <img src="./static/aire-comprimido.png" class="slider__img" height="510px">
                         <h3 id="sliderMobileAire" class="section-mobile-text">Aire comprimido</h3>
                </section>
                <div id="btn-prev" class="btn-prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </div>
                <div id="btn-next" class="btn-next"><span class="carousel-control-next-icon" aria-hidden="true"></span>
                </div>
        </div>
</div>